<table
  id="u_content_text_1"
  style="font-family: arial, helvetica, sans-serif"
  role="presentation"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  border="0"
>
  <tbody>
    <tr>
      <td
        class="v-container-padding-padding"
        style="
          overflow-wrap: break-word;
          word-break: break-word;
          padding: 5px 200px 5px 30px;
          font-family: arial, helvetica, sans-serif;
        "
        align="left"
      >
        <div
          class="v-text-align v-font-size"
          style="
            font-size: 14px;
            line-height: 140%;
            text-align: left;
            word-wrap: break-word;
          "
        >
          <p style="line-height: 140%">
            <span
              data-metadata="&lt;!--(figmeta)eyJmaWxlS2V5Ijoid1V4OTNVMTZsQ0tmUHZkYlhvcTB6TyIsInBhc3RlSUQiOjMwNTk4NjQwLCJkYXRhVHlwZSI6InNjZW5lIn0K(/figmeta)--&gt;"
              style="line-height: 19.6px"
            ></span>
            <span style="line-height: 19.6px"></span>
            Hi <b><%= username %></b>, welcome to FindFlat. You are only one
            step away from full expirence of FindFlat. Just verify your account
            and be the first notified about new flats.
          </p>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table
  id="u_content_button_2"
  style="font-family: arial, helvetica, sans-serif"
  role="presentation"
  cellpadding="0"
  cellspacing="0"
  width="100%"
  border="0"
>
  <tbody>
    <tr>
      <td
        class="v-container-padding-padding"
        style="
          overflow-wrap: break-word;
          word-break: break-word;
          padding: 10px 10px 0px 30px;
          font-family: arial, helvetica, sans-serif;
        "
        align="left"
      >
        <div class="v-text-align" align="left">
          <a
            href="http://localhost:4000/api/users/confirm/<%= userId %>?token=<%= linkToken %>"
            target="_blank"
            class="v-button v-font-size"
            style="
              box-sizing: border-box;
              display: inline-block;
              text-decoration: none;
              -webkit-text-size-adjust: none;
              text-align: center;
              color: #ffffff;
              background-color: #ea4747;
              border-radius: 0px;
              -webkit-border-radius: 0px;
              -moz-border-radius: 0px;
              width: auto;
              max-width: 100%;
              overflow-wrap: break-word;
              word-break: break-word;
              word-wrap: break-word;
              font-size: 14px;
            "
          >
            <span style="display: block; padding: 12px 30px; line-height: 120%">
              <span style="line-height: 16.8px"> </span>
              <span style="line-height: 16.8px"></span>
              <span style="line-height: 16.8px"> Verify account </span>
            </span>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
